h1{
    margin-bottom: 30px;
    color: rgb(41, 41, 41);
}
input{
    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
    background-color: rgb(248, 229, 229);
    border: solid;
    font-weight: bold;
}
button{
    margin-bottom: 20px;
    background-color: rgb(220, 243, 243);
    font-weight: bold;
}
hr{
    margin-bottom: 15px;
}
body{
    background-color: rgb(236, 217, 240);
}